@page
@model _02ASP_EF_OneToMany.Pages.IndexModel
@{
    ViewData["Title"] = "Главная";
}


<div>
    <p class="subheader">Практическая часть</p>
    <p>
        Разработайте приложение ASP.NET Core, состоящее из нескольких страниц Razor Pages. Стилизацию разметки выполняйте при помощи Bootstrap. Реализуйте вывод задания, вывод всех записей таблицы, создание, удаление и редактирование записей таблицы. Реализуйте также выполнение запросов по заданию.
    </p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr><th>Создайте базу данных «Учет подписки на периодические печатные издания»</th></tr>
                <tr><th>База данных должна включать таблицы ПОДПИСКИ, КАТЕГОРИИ содержащие следующую информацию:</th></tr>
                <tr><th>Индекс издания по каталогу (строка из цифр)</th></tr>
                <tr><th>Вид издания (газета, журнал, альманах, каталог, …)</th></tr>
                <tr><th>Наименование издания (название газеты, журнала, …)</th></tr>
                <tr><th>Цена 1 экземпляра (в руб.)</th></tr>
                <tr><th>Дата начала подписки</th></tr>
                <tr><th>Длительность подписки (количество месяцев)</th></tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="text-center h6">Номер запроса</td>
                    <td class="text-center h6">Тип запроса</td>
                    <td class="text-center h6">Какую задачу решает запрос</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Запрос на<br>выборку</td>
                    <td>Выбирает информацию об издании с заданным индексом. </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Запрос на выборку</td>
                    <td>Выбирает информацию обо всех изданиях, для которых цена 1 экземпляра есть значение из некоторого диапазона. </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Запрос на выборку</td>
                    <td>Выбирает информацию об изданиях, для которых Длительность подписки есть значение из некоторого диапазона. </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Запрос на выборку</td>
                    <td>Выбирает информацию об изданиях с заданным значением в поле Вид издания. </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Итоговый запрос – агрегатные функции</td>
                    <td>Выполняет группировку по полю Вид издания. Для каждого вида вычисляет среднюю цену 1 экземпляра, количество изданий в группе</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Итоговый запрос – агрегатные функции</td>
                    <td>Выполняет группировку по полю Вид издания. Для каждого вида вычисляет максимальную и минимальную цену 1 экземпляра, количество изданий в группе</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Итоговый запрос – агрегатные функции</td>
                    <td>Выполняет группировку по полю Длительность подписки. Для каждого срока вычисляет среднюю цену 1 экземпляра</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="subheader">Дополнительно</p>
    <p>
        Запись занятия можно скачать по <a class="link" target="_blank" href="https://cloud.mail.ru/public/o1ne/zvud5Cytg">этой ссылке</a>.
        Материалы занятия в этом же архиве.
    </p>
</div>